body {
	background-color: #232323;
	margin: 0;
	font-family: "Lato", sans-serif;
}

/** Heading style **/

h1 {
	margin: 0;
	padding: 20px 0;
	color: white;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	background-color: steelblue;
	line-height: 1.1;
}

#rgbColorDisplay {
	display: block;
	font-size: 200%;
}
/** Heading style **/

/** Buttons style **/

button {
	height: 100%;
	background: none; 
	border: none;
	color: steelblue;
	font-size: inherit;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	background-color: steelblue;
	color: white;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

.selected {
	background-color: steelblue;
	color: white;
}

#stripe {
	text-align: center;
	background-color: white;
	color: black;
	height: 30px;
}

#message {
	display: inline-block;
	width: 20%;
}

/** Buttons style **/

/** Squares style **/

#container {
	width: 600px;
	margin: 20px auto;
}

.square {
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

/** Squares style **/